$primary-color: rgb(45, 143, 255);
$secondary-color: rgb(241, 64, 10);
$accent-color: rgb(171, 25, 255);
$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'accent': $accent-color
);
$color-variants: 'primary', 'secondary', 'accent';

$light-gray: rgb(230, 230, 230);
$white: rgb(255, 255, 255);

$border-base-color: #e4e6ea;
$border-disabled-color: #eff0f1;
$border-focus-color: #2d8eff;
$border-hover-color: rgba($border-focus-color, 0.4);

$text-base-color: #5a6375;
$text-secondary-color: #757e8f;
$text-disabled-color: #acacbb;

$background-base-color: white;
$background-secondary-color: #f5f6f8;

$element-height: 40px;
